name: Java CI with Maven
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
    paths:
      - 'webapp/**'

      
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: temurin
          cache: maven
      - name: List directory contents
        run: ls -R
      - name: Build with Maven
        run: mvn -B package --file ./webapp/pom.xml
      - name: Check if compilation was successful
        run: mvn compile
        
  merge-check:
    name: Merge Check
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Merge only if checks are successful
        if: success()
        run: echo "All checks passed. You can now merge the pull request."

